body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table th {
  	background: black;
    background: rgba(0,0,0,0.9);
    color: rgb(189, 189, 87);
    text-align: center;
    padding: 10px;

}

table td {
    text-align: center;    
	padding: 15px;
	border:5px solid rgb(121, 205, 238);
	background: rgb(180, 239, 247);
}

table{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-top: 5px solid rgb(241, 218, 54);
	border-bottom: 5px solid rgb(241, 218, 54);
    color: rgb(15, 84, 112);
}